#heading1{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    top: 20%;
    left: 20%;
    position: absolute;
    /* transform: rotate(70deg); */
    /* transform: scale(2,3); */
    /* transform: translateX(300px); */
    /* transform: skew(120deg, 45deg); */
    /* transition:ease 5s; */
    /* transition-delay: 3s; */

    
}

div:hover{
    height: 200px;
    width: 200px;
    background-color: cyan;
    transform: rotate(180deg);
}
